.container {
  background-color: rgb(247, 0, 255);
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.score{
  text-align: center;
  font-size: x-large;
  font-family: Georgia, Times, 'Times New Roman', serif;

  justify-content: center;
}